<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil del Cliente - {{ cliente.nombre }}</title>
</head>
<body>

    <div>
        <div>
            <h1>{{ cliente.nombre }}</h1>
            <p>Cliente Registrado {{ cliente.id }}</p>
        </div>

        <div>
            <p>Teléfono: {{ cliente.telefono }}</p>
            <p>Email: {{ cliente.email }}</p>
        
        </div>
        <div>
            <a href="{% url 'buscar_coches_de_cliente' cliente.id %}">Ver sus vehículos</a>
        </div>
    </div>

</body>
</html>